ion-img{
    margin-left: 80%;
    width:50px;
    height: 50px;
    
}
ion-content {
    --background: url(../../assets/img/blue.jpg) no-repeat center/cover fixed;
  }
img{
    height: 100px;
    width: 120px;
    margin-left: 32%;
    margin-top: 10%;

}
ion-card{
    top: 18%;
    border-radius: 12px;
}
ion-button{
    padding-left: 27%;
   margin-bottom: 10%;
}