ion-toolbar {
  --background: url(../../assets/img/login.jpg) no-repeat center/cover fixed;
  
    ion-button {
      text-transform: initial;
      font-size: 17px;
    }
  }

  
  
  ion-content {
      --background: url(../../assets/img/login.jpg) no-repeat center/cover fixed;
    
  
    #header {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h1 {
        font-weight: 700;
        font-size: 26px;
        color: #010100;
        margin-bottom: 15%;
      }
  
      ion-img{
        margin-inline: 80%;
        width:150px;
        height: 150px;
        margin-top: 25%;
      }    
    }
  
    #form {
      margin-top: 10%;
      padding-left: 30px;
      padding-right: 30px;
  
      ion-button {
        margin-top: 30px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
      }
    }
    
    .label{
      padding-left: 15px;
      
    }
    ion-text{
      font-weight: 600;
    }
  }
  