<ion-header>
  <ion-toolbar color="light">
    <img class="logo" src="assets/img/logo.png">
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/img/avatar.png"></ion-img>

  <ion-card>
    <ion-toolbar color="medium">
  <ion-title>BASIC INFO</ion-title>
</ion-toolbar>
  <ion-card-content>
    <ion-label>Name: Juan Dela Cruz</ion-label><br>
    <ion-label>Address: Purok 5, Natunuan San Jose, Batangas</ion-label><br>
    <ion-label>Meter ID: M-12345</ion-label><br>
  </ion-card-content>
  </ion-card>
   
  <ion-card>
    <ion-toolbar color="medium">
  <ion-title>CONTACT INFO</ion-title>
</ion-toolbar>
  <ion-card-content>
    
    <ion-label>Email: juandlc@gmail.com</ion-label><br>
    <ion-label>Contact #: 09876543210</ion-label><br>

  </ion-card-content>
  </ion-card>
</ion-content>

